.frame-placeholder2 {
  position: relative;
  height: auto;
  width: 350px;
}

.frame-image {
  width: 350px;
  display: block;
  position: absolute;
  z-index: 2;
  top: -140px;
  left: -50px;
}

.fork-overlay {
    left: 130px;
    pointer-events: none;
    position: absolute;
    top: -97px;
    transform: translateX(569%) translateY(-17%) rotate(-25deg);
    width: 33px;
    z-index: 1;
}