.bodycon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.configmeasure {

    text-align: center;
    font-family: Arial, sans-serif;
}

.inputs-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    align-items: flex-end;
}

.input-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-block img {
    width: 150px;
    margin-bottom: 10px;
}

.input-block label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-block input {
    width: 120px;
    padding: 8px;
    text-align: center;
    font-size: 16px;
}

.next-btn {
    background-color: #005ab9;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  margin: 30px 0;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  width: 100px;
  transition: all 0.3s ease-out;
}

.next-btn:hover {
  background-color: #7e7e7e;
  color: white;
  transition: all 0.3s ease-in;
}

.next-link {
  color: white;
  text-decoration: none;
}

.next-link:hover {
  color: black;
}
