.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-div {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.header-div .logo {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  height: 45px;
  width: 45px;
  padding: 10px 0 0 20px;
}

.header-div .nav {
    display: flex;
    margin-left: 15px;
    cursor: pointer;
    font-weight: 600;
}

.nav li .next-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav li button{
    margin: 0;
    width: 170px;
}

.header-div .nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-div .nav li {
  cursor: pointer;
  font-weight: 600;
  outline: none;
  transition: transform 0.2s ease-in-out;
}

.header-div .nav li:hover {
    transform: scale(1.1);
}

.auth-btn {
    color: black;
    background: none;
    font-size: 17px;
}

.cart-btn {
    color: black;
    background: none;
    font-size: 20px;
    width: 80px;
}