@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/BrandonText/HvDTrial_Brandon_Text_Regular-BF6514e9eb617a0.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 110vh;
  position: relative;
}

body {
  font-family: 'CustomFont', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
}

/* Для мобільних пристроїв */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .filter-sidebar {
    width: 100%; 
    padding-right: 0; 
  }

  .main-content {
    flex-direction: column; 
  }

  .products-grid {
    width: 100%; 
    grid-template-columns: 1fr; /* Одна колонка на мобільних */
  }

  .product-card {
    width: 100%; 
    max-width: 300px; 
    margin: 10px 0; 
  }
}

/* Для планшетів */
@media (min-width: 769px) and (max-width: 1024px) {
  .filter-sidebar {
    width: 30%; 
  }

  .products-grid {
    width: 70%; 
    grid-template-columns: repeat(2, 1fr); /* Дві колонки на планшетах */
  }
}